spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**
#надо разбираться, тесты отваливаются и не доходят


server:
  port: 8080


management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway
