spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    # я так понимаю, как и в прошлом спринте, берётся автоматически на гитхабе?
    #url: jdbc:postgresql://localhost:6543/user
    #username: main
    #password: main
  sql:
    init:
      mode: always
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    ru.yandex.practicum: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health, info, mappings, httptrace
