spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://microservices-db:6766/core_users
    username: frosty
    password: ytsorf
  sql:
    init:
      mode: always
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    ru.yandex.practicum: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health, info, mappings, httptrace
