spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**

        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**
            - CircuitBreaker-userServiceCircuitBreaker

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.server: DEBUG

